@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


/*Resetting the browser's default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}


.linked_pages {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 55px;
    margin: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 2px solid black;
}

.linked_pages span {
    font-family: 'Roboto Condensed', sans-serif;
}

.linked_pages a {
    text-decoration: none;
    color: rgba(99, 99, 250, 0.9);
}

table {
    border: 1px solid #ddd;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 1rem;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    flex-wrap: wrap;
}

.table p {
    font-size: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
}

table th {
    position: -webkit-sticky; /* For Mozilla*/
    position: sticky;
    top: 0;
    z-index: 1;
    background: #fff;
}

.fa-key.yellow {
    color: rgb(255, 165, 0);
    margin-right: 0.4rem;
}

.fa-key.blue {
    color: blue;
    margin-right: 0.4rem;
}